label {
  margin: 3px;
}

input {
  width: 50%;
  padding: 10px 12px;
  margin: 8px 0;
  font-size: medium;
  box-sizing: border-box;
}

.blogContent {
  width: 50%;
  padding: 8px 10px;
  margin: 8px 0;
  font-size: medium;
}